@charset "utf-8";
body {
    margin: 0;
    padding: 0;
    font-size: 15px;
    line-height: 2;
}

p, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

img {
    vertical-align: bottom;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Noto Serif JP', serif;
    position: relative;
}

.no-scroll {
    overflow: hidden;
}

.no-scroll-2 {
    overflow: visible;
}

.load-top {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #F7F6F2;
    width: 100vw;
    height: 50vh;
    border-bottom: 2px solid #d3d3d3;
    display: inline-block;
    transition: 1s;
    z-index: 1000;
}

.load {
    position: absolute;
    bottom: 0px;
    content: '';
    width: 100%;
    height: 2px;
    background: black;
    transform: scale(0, 1);
    transform-origin: left top;
    transition: transform 2s;
}

.load-2 {
    transform: scale(1, 1);
}

.load-cat {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    font-family: 'Cinzel', serif;
    font-size: 20px;
}

.now {
    display: inline-block;
}

.black-cat {
    width: 10%;
    margin-bottom: 10px;
}

.count {
    display: inline-block;
    width: 30px;
}

.p {
    display: inline-block;
}

.under {
    position: fixed;
    top: 50vh;
    left: 0;
    width: 100vw;
    height: 50vh;
    border-top: 1px solid #d3d3d3;
    transition: 1s;
    background-color: #F7F6F2;
    z-index: 1000;
}

.top-2 {
    transform: translateY(-100%);
}

.under-2 {
    border-top: 2px solid black;
    transform: translateY(100%);
}

.none {
    display: none;
}

.clearfix:after {
    content: "";
    display: block;
    clear: both;
}

.cat-cafe {
    background-color: #F7F6F2;
}

.logo {
    font-family: 'Libre Caslon Display', serif;
    padding: 20px;
    height: 40px;
}

.cat1 {
    height: 100%;
}

.logo-catcafe {
    display: inline;
    font-size: 30px;
    line-height: 30px;
}

.button {
    position: fixed;
    top: 0;
    right: 0;
    height: 35px;
    font-size: 25px;
    transition: 0.5s;
    z-index: 101;
    background-color: #696969;
    border-radius: 5% 0 5% 50%;
    padding: 0 10px 10px 15px;
}

.nav-color {
    position: fixed;
    top: 0;
    right: 0;
    width: 10px;
    height: 10px;
    z-index: 99;
    background-color: #dcdcdc;
    transition: 2s;
    border-radius: 50%;
}

.color-2 {
    transform: scale(1000);
    
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-wrap {
    position: fixed;
    top: 5%;
    left: 0;
    font-size: 20px;
    width: 100vw;
    height: 100vh;
    text-align: center;
    padding-top: 30px;
    visibility: hidden;
    z-index: 100;
    transition: 2s;
}

.nav {
    transform: translateX(30%);
    transition: 2s;
    opacity: 0;
    font-family: 'Libre Caslon Display', serif;
}

.nav a {
    color: black;
}

.nav-name {
    font-family: 'Cinzel', serif;
    transform: translateY(100%);
    transition: 1s;
    opacity: 0;
    margin-bottom: 5%;
}

.nav-name-2 {
    transform: translateY(0);
    opacity: 1;
}

.nav li {
    margin-bottom: 30px;
}

.open {
    visibility: visible;
    
}

.nav-2 {
    transform: translateX(0);
    opacity: 1;
}

.nav-icon {
    z-index: 100;
    position: fixed;
    top: 18%;
    right: 0;
    transition: 2s;
    transform: translateX(100%);
    opacity: 0;
    color: #6e5f44;
    
    font-size: 30px;
}
.paw-btn{
    width: 100%;
    height: auto;
}
.sns-box {
    font-size: 20px;
}

.nav-fab {
    width: 100%;
}

.nav-icon a {
    color: black;
}

.nav-cat {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 50%;
    transition: 2s;
    opacity: 0;
}

.nav-cat-2 {
    transition-delay: 1s;
    opacity: 1;
}

.fab-2 {
    transform: translateY(0);
    opacity: 1;
    transition-delay: 1s;
}

.menu {
    width: 30%;
    margin: 0 auto;
}

.menu-trigger, .menu-trigger span {
    display: inline-block;
    transition: all .4s;
    box-sizing: border-box;
}

.menu-trigger {
    position: relative;
    width: 25px;
    height: 22px;
}

.menu-trigger span {
    position: absolute;
    left: 0;
    width: 100%;
    height: 4px;
    background-color: #fff;
    border-radius: 4px;
}

.menu-trigger span:nth-of-type(1) {
    top: 0;
}

.menu-trigger span:nth-of-type(2) {
    top: 9px;
}

.menu-trigger span:nth-of-type(3) {
    bottom: 0;
}

.menu-trigger.active span:nth-of-type(1) {
    -webkit-transform: translateY(10px) rotate(-45deg);
    transform: translateY(8px) rotate(-45deg);
}

.menu-trigger.active span:nth-of-type(2) {
    opacity: 0;
}

.menu-trigger.active span:nth-of-type(3) {
    -webkit-transform: translateY(-10px) rotate(45deg);
    transform: translateY(-10px) rotate(45deg);
}

.fa-paw, .follower {
    border-radius: 50%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none;
    transform: scale(0);
}


.follower {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 239, 213, 0.8);
    z-index: 1000;
    transition: -webkit-transform ease .3s;
    transition: transform ease .3s;
    transition: transform ease .3s, -webkit-transform ease .3s;
    text-align: center;
}

.follower span {
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    -webkit-transform: scale(0);
    transform: scale(0);
}

.is-active {
    -webkit-transform: scale(2);
    transform: scale(2);
}

.fa-paw {
    color: #ffc0cb;
    opacity: 0.8;
    font-size: 25px;
    z-index: 1001;
}
.paw-active{
    -webkit-transform: scale(0);
    transform: scale(0);
}
.paw-active2{
    opacity: 1;
}
.wrap-1 {
    height: auto;
    widows: 90vw;
    font-family: 'Libre Caslon Display', serif;
}

.top-text {
    text-align: center;
    margin-bottom: 3%;
}

/*スライドする複数イメージをぴったりと重ねます*/

.slide-content {
    position: relative;
    height: auto;
}

.slide-wrap {
    height: 65vh;
    width: 80vw;
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    position: relative;
}

.slide-img {
    position: absolute;
    height: 100%;
    width: 100vw;
    background-size: cover;
    background-position: center;
    animation-name: slide-1;
    animation-duration: 7s;
}

.slide-1 {
    background-image: url(../images/animal-339400_1280.jpg);
}

.slide-2 {
    background-image: url(../images/kitten-1031261_1280.jpg);
}

.slide-3 {
    background-image: url(../images/animal-2178983_1280.jpg);
}

.video {
    animation: none;
    object-fit: cover;
}

@keyframes slide-1 {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(-10%, 0, 0);
    }
}

@media screen and (min-width:820px) {
    .slide-wrap {
        height: 65vh;
        width: 70vw;
    }
    .slide-img {
        width: 80vw;
    }
}

.wrap-2 {
    width: 90%;
    margin: 0 auto;
}

.heading-box {
    width: auto;
    text-align: center;
    margin-top: 10%;
}

.heading-box p {
    font-family: 'Cinzel', serif;
    font-size: 30px;
}

.cat-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cats {
    width: 100%;
    margin: 0 auto;
}

.wrap-cat {
    position: relative;
    overflow: hidden;
    margin-top: 3%;
}

.cat-img {
    position: relative;
    width: 100%;
}

.nx2 {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #F7F6F2;
}

.anm-2 {
    animation-name: fadeInDown3;
    animation-duration: 1s;
    visibility: visible !important;
    animation-fill-mode: forwards;
}

@keyframes fadeInDown3 {
    from {
        transform: translate3d(0, 0, 0);
    }
    to {
        transform: translate3d(100%, 0, 0);
    }
}

.name {
    width: 100%;
    display: flex;
    align-items: center;
    color: #6e5f44;
    text-align: center;
    font-size: 20px;
}

.name:before, .name:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    display: block;
}

.name:before {
    margin-right: .4em;
    background: linear-gradient(-90deg, #6e5f44, transparent);
}

.name:after {
    margin-left: .4em;
    background: linear-gradient(90deg, #6e5f44, transparent);
}

.name-box {
    border: double 3px #dcdcdc;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    margin: 5% 0 20%;
}

.wrap-3 {
    width: 100vw;
    height: auto;
}

.room-top {
    width: 70%;
    margin: 20px auto 0;
}

.room-img {
    width: 100%;
}

.room-box {
    position: relative;
}

.slide-left-anm {
    position: absolute;
    top: -20px;
    left: 5%;
    transform: scale(0, 1);
    transition: 1s;
    transform-origin: left top;
}

.slide-left-anm2 {
    visibility: visible !important;
    transform: scale(1, 1);
}

.room-text {
    position: absolute;
    top: -20px;
    right: 5%;
    
    background-color: #dcdcdc;
    width: 50%;
    padding: 3%;
}

.slide-right-anm {
    position: absolute;
    top: -20px;
    right: 5%;
    transform: scale(0, 1);
    transition: 1s;
    transform-origin: right top;
}

.slide-right-anm2 {
    visibility: visible !important;
    transform: scale(1, 1);
}

.slide-right-anm-2 {
    position: absolute;
    top: 0;
    right: 0;
    transform: scale(0, 1);
    transition: 1s;
    transform-origin: right top;
}

.slide-right-anm2-2 {
    visibility: visible !important;
    transform: scale(1, 1);
}

.room-text h2 {
    border-bottom: 3px solid dimgray;
}

.wrap-4 {
    width: 100vw;
    height: auto;
    text-align: center;
    
    color: black;
    position: relative;
}
.back-paw{
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: url("/CatCafe2/images/footprints-309158_1280.png");
    background-size: 20%;
    opacity: 0.1;
}
.wrap-time {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.time h3 {
    
    font-size: 25px;
}

th {
    width: 50%;
    border: 2px solid black;
}

td {
    width: 50%;
    text-align: center;
    border: 2px solid black;
}

table {
    border-spacing: 0;
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto 30px;
}


.table th {
    border: 2px solid black;
}

.table td {
    border: 2px solid black;
}

.shop {
    color: black;
    border: 2px solid black;
    width: 70%;
    padding: 0 5% 5%;
    margin: 0 auto 5%;
}

.up-anm {
    transform: translateY(10%);
    transition: 1s;
    opacity: 0;
}

.shop h2 {
    font-size: 20px;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
}

.shop li {
    text-align: left;
    list-style: inside;
    width: 100%;
}

.up-anm2 {
    transform: translateY(0);
    opacity: 1;
    visibility: visible !important;
}

.wrap-title {
    position: relative;
    height: auto;
    width: 50%;
    margin: 10px auto;
}

.wrap-table {
    position: relative;
    height: auto;
    width: 80%;
    margin: 0 auto;
}

.gray-right {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 5;
}

.gray-right-anm {
    animation-name: gray-right-anm;
    animation-duration: 1s;
    visibility: visible !important;
    background-color: #dcdcdc;
    animation-fill-mode: forwards;
}

@keyframes gray-right-anm {
    from {}
    60% {
        transform: scale(1);
    }
    to {
        transform-origin: right top;
        transform: scale(0, 1);
    }
}

.gray-left {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 5;
}

.gray-left-anm {
    animation-name: gray-left-anm;
    animation-duration: 1s;
    visibility: visible !important;
    background-color: #dcdcdc;
    animation-fill-mode: forwards;
}

@keyframes gray-left-anm {
    from {}
    60% {
        transform: scale(1);
    }
    to {
        transform-origin: left top;
        transform: scale(0, 1);
    }
}

.gray {
    position: absolute;
    top: 0;
    left: 0;
    content: '';
    width: 100%;
    height: 100%;
    z-index: 5;
}

.gray-anm {
    animation-name: gray-anm;
    animation-duration: 1s;
    visibility: visible !important;
    background-color: #F7F6F2;
    animation-fill-mode: forwards;
}

@keyframes gray-anm {
    from {
        transform-origin: right top;
        transform: scale(0, 1);
    }
    45% {
        transform-origin: right top;
        transform: scale(1, 1);
    }
    55% {
        transform-origin: left top;
        transform: scale(1, 1);
    }
    to {
        transform-origin: left top;
        transform: scale(0, 1);
    }
}

.text {
    font-size: 50px;
    z-index: 1;
}

.table-anm {
    animation-name: table-anm;
    animation-duration: 2s;
    visibility: visible !important;
    animation-fill-mode: forwards;
}

@keyframes table-anm {
    from {
        transform-origin: right top;
        transform: scale(0, 1);
    }
    45% {
        transform-origin: right top;
        transform: scale(1, 1);
    }
    to {}
}

.wrap-map {
    margin-bottom: 5%;
}

.access {
    position: relative;
    width: 80%;
    margin: 5% 10%;
    text-align: left;
    padding-left: 5%;
    border-left: 3px solid black;
}

.map {
    width: 80%;
    height: auto;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
}

iframe {
    vertical-align: bottom;
    padding-bottom: 5%;
}

footer {
    text-align: center;
    border-top: 1px solid black;
}

.copywriter {
    text-align: center;
    margin-bottom: 20px;
}

.sns {
    margin: 30px auto;
}

.sns-icon {
    position: relative;
    display: inline-block;
    width: 100px;
    height: 100px;
    line-height: 100px;
    border-radius: 50%;
    font-size: 30px;
    border: 1px solid #333;
    color: #333;
    text-decoration: none;
    text-align: center;
    transition: .3s;
    box-shadow: 0px 8px 8px 5px rgba(220, 220, 220,0.6);
    margin: 0 8px;
}

.sns-icon:hover {
    color: #fff;
}

.sns-icon::before {
    border-radius: 50%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    content: '';
    background: #333;
    transform-origin: center center;
    transform: scale(0, 0);
    transition: transform .3s;
}

.sns-icon:hover::before {
    transform: scale(1, 1);
}

.sns-icon::after {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 1px solid #d3d3d3;
    animation-name: border;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes border {
    from {
        opacity: 0;
        transform: scale(1, 1);
    }
    50% {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: scale(1.2, 1.2);
    }
}

@media screen and (min-width:768px) {
    .nav-cat {
        bottom: 20px;
        left: 20px;
        width: 30%;
    }
    .button {
        padding: 10px 20px 30px 30px;
    }
    .cats {
        width: 40%;
        margin: 5% 2%;
    }
    
    .nav-icon {
        font-size: 40px;
        right: 3%;
        width: 25%;
    }
    .nav-fab {
        width: auto;
        margin: 0 3%;
        
    }
    .paw-btn{
        padding: 10% 0;
    }
    .anm-delay2 {
        animation-delay: 0.2s;
    }
    .black-cat {
        width: 5%;
    }
    .wrap-times {
        width: 80%;
        margin: 0 auto;
        display: flex;
    }
    .wrap-time {
        width: 50%;
    }
    .shop {
        width: 62%;
    }
    .wrap-map {
        position: relative;
        height: auto;
        height: 200px;
        width: 80%;
        margin: 0 auto;
        
    }
    .access {
        position: absolute;
        top: 0;
        left: 0;
        width: 30%;
        margin-left: 5%;
        margin-top: 0;
        margin-right: 0;
    }
    .map {
        position: absolute;
        top: 0;
        right: 0;
        width: 50%;
        margin: 0;
        padding: 0;
    }
    .shop {
        padding-bottom: 2%;
    }
    .room-top {
        width: 50%;
        margin: 20px 0 0 20%;
    }
    .room-top2 {
        margin: 20px 0 0 30%;
    }
    .room-text {
        width: 30%;
        top: -50px;
    }
    .nav-wrap {
        font-size: 30px;
    }
    .sns-icon{
        height: 80px;
        width: 80px;
        line-height: 80px;
    }
}

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400|Raleway:300);
.btn-6, .btn-6:before, .btn-6:after {
    box-sizing: border-box;
    transition: 0.5s ease-in-out;
}

.btn-6:before, .btn-6:after {
    z-index: -1;
}

.btn-6 {
    text-decoration: none;
    color: black;
}




.btn-6 {
    position: relative;
    display: block;
    overflow: hidden;
    
    
    
    
    
    border: 1px solid dimgray;
}



.btn-6 span {
    position: absolute;
    display: block;
    width: 0;
    height: 0;
    border-radius: 50%;
    background-color: #ffefd5;
    transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: -1;
}

.btn-6:hover {
    color: black;
}

.btn-6:hover span {
    width: 225%;
    height: 562.5px;
}

.btn-6:active {
    background-color: #b6a184;
}
@media screen and (max-width: 1024px) { 
    .cursor{
        display: none;
    }
}